
<style>
    #profilepicCon{
        width: 40px;
        height: 40px;
        border: 1px solid #000;
        border-radius: 100%;
        background-size: 100% 100%;
    }
</style>
    <!-- follower modal -->
    <div class="modal fade" id="followerModal" tabindex="-1" role="dialog" aria-labelledby="followerModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">followers</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group" id="followerListCon">
                        <p id="followerLoading"></p>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<script src="/js/profile/follower/follower.js"></script>