<%- include('../../bootstrap') %>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-2 mb-3">
            <strong>Title</strong>
            <input type="text" class="form-control" id="bookTitle">
        </div>
        <div class="col-12 mt-2 mb-3">
            <strong>Authors (For example: Patterson, David, Lamport, Leslie)</strong>
            <input type="text" class="form-control" id="bookAuthor">
        </div>
        <div class="col-12 mt-2 mb-3">
            <strong>Keywords (For example: a, b, c)</strong>
            <input type="text" class="form-control" id="bookKeyword">
        </div>
        <div class="col-12 mt-2 mb-3">
            <strong>Publication date (For example: 2019, 2019/12 or 2019/10/31)</strong>
            <input type="text" class="form-control" id="bookDate">
        </div>
        <div class="col-12 mt-2 mb-3">
            <strong>Abstract / Description</strong>
            <textarea name="bookAbstract" class="form-control" id="bookAbstract" rows="6"></textarea>
        </div>
        <div class="col-12 mt-2 mb-3">
            <strong>Volume</strong>
            <input type="text" id="bookVolume" class="form-control">
        </div>
        <div class="col-12 mt-2 mb-3">
            <strong>Pages</strong>
            <input type="text" id="bookPage" class="form-control">
        </div>
        <div class="col-12 mt-2 mb-3">
            <strong>Publisher</strong>
            <input type="text" id="bookPublisher" class="form-control">
        </div>
        <!-- <div class="col-12 mt-2 mb-3">
            <strong>upload pdf or doc file</strong>
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="bookFile" aria-describedby="bookFile">
                    <label class="custom-file-label" for="bookFile">Choose file</label>
                </div>
            </div>
        </div> -->
        <div class="col-12 mb-3">
            <button class="btn btn-dark" id="bookButton" onclick="publishBook(event)">Publish</button>
        </div>
    </div>
</div>
<script src="/js/profile/research/book.js"></script>